<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="test4.css">
</head>
<body>
    
</body>
</html>
<section id="search_h_cont">
    <div id="cont_video">
       <video autoplay="true" id="myVideo" loop="true" muted="true">
          <source src="https://cdn-production.beautydate.com.br/assets/home_v-7e084df0370f4eec6be7e18aa0c1e4195529d7a74f7ae003d15fde7dd8e4dc2a.mp4" type="video/mp4">
          <source src="https://cdn-production.beautydate.com.br/assets/home_v-66a76a96156e1e26aa5d2e535974e36a7293b54ea888abbd1b6ced78b667eb97.webm" type="video/webm">
       </video>
    </div>
 </section>