
#cont_video{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
}
#search_h_cont #myVideo {
    min-width: 1260px!important;
    background-position: 360px center;
}
#search_h_cont #myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    min-width: 1100px!important;
    display: inline-block;
    background: url(https://cdn-production.beautydate.com.br/assets/bg_fallback_home-3b117bc….jpg);
    background-color: #000;
    background-size: cover;
    background-position-y: 50%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}